<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>西石大经管院重学辅助系统</title>
  <link rel="stylesheet" href="../../public/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">西石大经管院重学辅助系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ user.account }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="ad_info">基本资料</a></dd>
          <dd><a href="ad_notice">回到首页</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item"><a href="ad_notice">通知公告</a></li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">系统通知</a>
		  <dl class="layui-nav-child">
            <dd><a href="ad_pull">发布公告</a></dd>
          </dl>
        </li>
		<li class="layui-nav-item">
            <a href="javascript:;">课程管理</a>
            <dl class="layui-nav-child">
                <dd><a class="layui-this" href="ad_course">添加课程</a></dd>
				<dd><a href="ad_showc">课程信息</a></dd>
            </dl>
        </li>
		<li class="layui-nav-item">
            <a href="javascript:;">报名管理</a>
            <dl class="layui-nav-child">
				<dd><a href="ad_state">缴费状态</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item layui-nav-itemed">
          <a href="javascript:;">用户管理</a>
          <dl class="layui-nav-child">
			<dd><a href="ad_create">添加用户</a></dd>
            <dd><a href="ad_users">用户列表</a></dd>
			<dd><a href="ad_result">查看成绩</a></dd>
          </dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>课程管理 - 添加课程</legend>
                <div class="layui-field-box">
                    <form id="course_form" class="layui-form" action="">
                        <div class="layui-form-item">
                            <label class="layui-form-label">课程编号</label>
                            <div class="layui-input-inline">
								<input type="text" name="cno" required  lay-verify="required" placeholder="请输入课程编号" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">课程名称</label>
                            <div class="layui-input-inline">
								<input type="text" name="cname" required lay-verify="required" placeholder="请输入课程名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>
						<div class="layui-form-item">
                            <label class="layui-form-label">课程收费</label>
                            <div class="layui-input-inline">
								<input type="text" name="ccost" required  lay-verify="required" placeholder="请输入费用" autocomplete="off" class="layui-input">
                            </div>
                        </div>
						<div class="layui-form-item">
                            <label class="layui-form-label">重学人数</label>
                            <div class="layui-input-inline">
								<input type="text" name="cnum" placeholder="请输入重学人数" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上课地点</label>
                            <div class="layui-input-inline">
								<input type="text" name="cplace" placeholder="请输入地点" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">上课时间</label>
                            <div class="layui-input-inline">
								<input type="text" name="ctime" placeholder="上课时间" autocomplete="off" class="layui-input">
                            </div>
                        </div>
						<div class="layui-form-item">
                            <label class="layui-form-label">是否开班</label>
                            <div class="layui-input-block">
								<input type="radio" name="cstate" value="开班" title="开班" checked>
								<input type="radio" name="cstate" value="不开班" title="不开班">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">考试时间</label>
							<div class="layui-input-inline">
								<input type="text" name="cexam" placeholder="请输入考试时间" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
								<button type="submit" class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
								<button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
        </fieldset>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
   
  </div>
</div>
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<script type="text/javascript" src="../../public/layui/layui.js"></script>
<script type="text/javascript" src="../../public/js/dw_form_submit.js"></script>
<script>
    $('#create_form').on('submit', function (e) {
        e.preventDefault()
        //序列化表单数据
        var formData = $(this).serialize()
        $.ajax({
            url: '/ad_course',
            type: 'post',
            data: 'formData',
            dataType: 'json',
            success: function (data) {
                var err_code = data.err_code
                if (err_code === 500){
                    window.alert('添加用户失败。')
                }else if(err_code == 0){
                    window.alert('添加课程信息成功！')
                    window.location.href = 'ad_showc'
                }
            }
        })
    })
</script>
</body>
</html>