<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>西石大经管院重学辅助系统</title>
  <link rel="stylesheet" href="../../public/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">西石大经管院重学辅助系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ user.account }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="s_info">基本资料</a></dd>
		  <dd><a href="s_notice">回到首页</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
			<a href="javascript:;">通知公告</a>
			<dl class="layui-nav-child">
				<dd><a href="s_notice">系统消息</a></dd>
			</dl>
		</li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">资料设置</a>
          <dl class="layui-nav-child">
            <dd><a href="s_info">个人信息</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">重学报名</a>
          <dl class="layui-nav-child">
            <dd><a class="layui-this" href="s_enroll">报名入口</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">课程信息</a>
            <dl class="layui-nav-child">
                <dd><a href="s_tabll">课表查询</a></dd>
                <dd><a href="s_exam">考试信息</a></dd>
            </dl>
        </li>
		<li class="layui-nav-item">
            <a href="javascript:;">成绩查询</a>
            <dl class="layui-nav-child">
                <dd><a href="s_result">重修成绩</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
			<a href="javascript:;">线上辅导</a>
			<dl class="layui-nav-child">
				<dd><a href="s_ask">答疑解惑</a></dd>
				<dd><a href="s_test">线上测试</a></dd>
			</dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>重学报名-报名入口</legend>
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
					<tbody>
                    {{ each stu}}
						<tr>
						  <td colspan="5" style="font-weight:bold;text-align:center">报名信息</td>
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">学号：</td>
							<td width="25%">{{$value.sno}}</td>
							<td width="25%" style="width:18%;text-align:right">姓名：</td>
							<td>{{$value.name}}</td>
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">院系：</td>
							<td width="25%">{{$value.college}}</td>
							<td width="25%" style="width:18%;text-align:right">性别：</td>
                            {{if $value.sex == 0}}
                            <td>{{@ "男"}}</td>
                            {{else value.sex == 1}}
                            <td>{{@ "女"}}</td>
                            {{/if}}
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">专业：</td>
							<td width="25%">{{$value.major}}</td>
							<td width="25%" style="width:18%;text-align:right">年级：</td>
							<td>{{$value.grade}}</td>
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">班级：</td>
							<td width="25%">{{$value.class}}</td>
							<td width="25%" style="width:18%;text-align:right">是否缴费：</td>
							<td>{{$value.state}}</td>
						</tr>
						<form id="enroll_form" class="layui-form" action="">
							<tr class="layui-form-item">
								<td width="25%" style="width:18%;text-align:right">报名课程：</td>
								<td width="25%">
									<label>
										<input type="checkbox" name="sno" value="{{$value.sno}}">{{$value.course}}
									</label>
								</td>
								<td width="25%" style="width:18%"><button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" style="width:35%" lay-submit lay-filter="formDemo">点击报名</button></td>
								<td>{{$value.enroll}}</td>
							</tr>
						</form>
                    {{/each}}
				  </tbody>
				</table>
            </div>
        </fieldset>
    </div>
  </div>
 
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    
  </div>
</div>
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<script type="text/javascript" src="../../public/layui/layui.js"></script>
<script type="text/javascript" src="../../public/js/common.js"></script>
<script>
$('#enroll_form').on('submit', function (e) {
            e.preventDefault()
            var formData = $(this).serialize()
            //表单异步提交
            $.ajax({
                url: '/s_enroll',
                type: 'post',
                data: formData,
                dataType: 'json',
                success: function (data) {
                    var err_code = data.err_code
                    if (err_code === 0) {
						window.alert('报名成功！')
                        window.location.href = 's_enroll'
                    }else if(err_code === 500){
                        window.alert('服务器繁忙.')
                    }
                }
            })
        })
</script>
</body>
</html>