<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>西石大经管院重学辅助系统</title>
  <link rel="stylesheet" href="../../public/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">西石大经管院重学辅助系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          {{ user.account }}
        </a>
        <dl class="layui-nav-child">
          <dd><a href="s_info">基本资料</a></dd>
		  <dd><a href="s_notice">回到首页</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
			<a href="javascript:;">通知公告</a>
			<dl class="layui-nav-child">
				<dd><a href="s_notice">系统消息</a></dd>
			</dl>
		</li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">资料设置</a>
          <dl class="layui-nav-child">
            <dd><a class="layui-this" href="s_info">个人信息</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">重学报名</a>
          <dl class="layui-nav-child">
            <dd><a href="s_enroll">报名入口</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">课程信息</a>
            <dl class="layui-nav-child">
                <dd><a href="s_tabll">课表查询</a></dd>
                <dd><a href="s_exam">考试信息</a></dd>
            </dl>
        </li>
		<li class="layui-nav-item">
            <a href="javascript:;">成绩查询</a>
            <dl class="layui-nav-child">
                <dd><a href="s_result">重修成绩</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
			<a href="javascript:;">线上辅导</a>
			<dl class="layui-nav-child">
				<dd><a href="s_ask">答疑解惑</a></dd>
				<dd><a href="s_test">线上测试</a></dd>
			</dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>资料设置-个人信息</legend>
			<hr class="layui-bg-gray">
            <div class="layui-field-box">
                <table class="layui-table" lay-skin="line">
					<tbody>
						<tr>
						  <td colspan="5" style="font-weight:bold;text-align:center">学籍信息</td>
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">学号：</td>
							<td width="25%">{{ stu[0].sno}}</td>
							<td width="25%" style="width:18%;text-align:right">姓名：</td>
							<td>{{ stu[0].name }}</td>
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">院系：</td>
							<td width="25%">{{ stu[0].college }}</td>
							<td width="25%" style="width:18%;text-align:right">性别：</td>
                            {{if stu[0].sex == 0}}
                            <td>{{@ "男"}}</td>
                            {{else stu[0].sex == 1}}
                            <td>{{@ "女"}}</td>
                            {{/if}}
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">专业：</td>
							<td width="25%">{{ stu[0].major }}</td>
							<td width="25%" style="width:18%;text-align:right">年级：</td>
							<td>{{ stu[0].grade }}</td>
						</tr>
						<tr>
							<td width="25%" style="width:18%;text-align:right">班级：</td>
							<td width="25%">{{ stu[0].class}}</td>
							<td width="25%" style="width:18%;text-align:right">重修课程：</td>
							<td>{{ stu[0].course }}</td>
						</tr>
				  </tbody>
				</table>
            </div>
        </fieldset>
    </div>
  </div>
 
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    
  </div>
</div>
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<script type="text/javascript" src="../../public/layui/layui.js"></script>
<script type="text/javascript" src="../../public/js/common.js"></script>
</body>
</html>