<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>西石大经管院重学辅助系统</title>
  <link rel="stylesheet" href="../../public/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  <div class="layui-header">
    <div class="layui-logo">西石大经管院重学辅助系统</div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-right">
      <li class="layui-nav-item">
        <a href="javascript:;">
          <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
          学生用户
        </a>
        <dl class="layui-nav-child">
          <dd><a href="s_info">基本资料</a></dd>
        </dl>
      </li>
      <li class="layui-nav-item"><a href="logout">退出</a></li>
    </ul>
  </div>
  
  <div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item">
			<a href="javascript:;">通知公告</a>
			<dl class="layui-nav-child">
				<dd><a href="s_notice">系统消息</a></dd>
			</dl>
		</li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">资料设置</a>
          <dl class="layui-nav-child">
            <dd><a href="s_info">个人信息</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a href="javascript:;">重学报名</a>
          <dl class="layui-nav-child">
            <dd><a href="s_enroll">报名入口</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:;">课程信息</a>
            <dl class="layui-nav-child">
                <dd><a href="s_tabll">课表查询</a></dd>
                <dd><a href="s_exam">考试信息</a></dd>
            </dl>
        </li>
		<li class="layui-nav-item">
            <a href="javascript:;">成绩查询</a>
            <dl class="layui-nav-child">
                <dd><a href="s_result">重修成绩</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item">
			<a href="javascript:;">线上辅导</a>
			<dl class="layui-nav-child">
				<dd><a href="s_ask">答疑解惑</a></dd>
				<dd><a class="layui-this" href="s_test">线上测试</a></dd>
			</dl>
        </li>
      </ul>
    </div>
  </div>
  
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
        <fieldset class="layui-elem-field">
            <legend>线上辅导-线上测试</legend>
            <div class="layui-field-box">
                <table class="layui-table">
                    <colgroup>
                        <col width="150">
                        <col width="200">
                        <col>
                    </colgroup>
                    <thead>
                        <tr>
                        <th>测试次数</th>
                        <th>测试编号</th>
                        <th>测试科目</th>
                        <th>测试时间</th>
                        <th>操作</th>

                        </tr> 
                    </thead>
                    <tbody>
                    {{ each par}}
						<tr>
							<td>{{ $index + 1 }}</td>
							<td>{{ $value.pno }}</td>
							<td>{{ $value.course }}</td>
							<td>{{ $value.time }}</td>
                            <td><a class="layui-bg-blue" href="/s_paper?pno={{ $value.pno }}">进入测试</a></td>
                        </tr>
                    {{ /each}}
                    </tbody>
                </table>
            </div>
        </fieldset>
    </div>
  </div>
  
  <div class="layui-footer">
    <!-- 底部固定区域 -->
    
  </div>
</div>
<script type="text/javascript" src="../../public/js/jquery.min.js"></script>
<script type="text/javascript" src="../../public/layui/layui.js"></script>
<script type="text/javascript" src="../../public/js/common.js"></script>
</body>
</html>